* { margin:0; padding:0; box-sizing:border-box;}
body {
	font-family: verdana, sans-serif;
	line-height:1.3;
}
section {
	padding:5em 0;
}
.logo {
	font-size: 4em;
	font-family: 'Baloo';
}
h1 {
    font-size: 2em;
}
h2{
	font-family: 'Jura';
}
h3 {
	font-family: 'Jura';
}
#intro {
	background-image: url("../images/dog.jpg");
	background-size: cover;
	padding: 5em 0 0;
	height: 90vh;
	color: #fff;
	font-size: 1.5em;
}
#intro div {
    width: 26em;
}
